<!DOCTYPE html>
<html>
    <head>
        <link href='../img/favicon.png' rel='icon' type='image/x-icon' />
        <a name="top"></a>
        <title>title</title>
    </head>
<!-- body -->
    <body>
        <h1>Basic Html</h1>
        <!--anchor for scrolling page-->
        <a href="#textsection"><em>-->text section </em></a><br/>
        <a href="#anchor"><em><strong>-->Anchor section</strong></em></a><br/>
        <a href="#img"><em>-->img section </em></a><br/>
        <a href="#table"><em>-->Table section</em></a><br/>
        <a href="#list"><em>-->List section</em></a><br/>
        <a href="#form"><em>-->form section</em></a><br/>

        
        <!--text : strong, br, p, em, h1 h2 h3 h4-->
        <a name="textsection"></a><h3>text</h3>
        normal text.\n
        not in one line
        <p>normaldfsf para1 ddfds</p>
        <p>dfsdfsd para 2 dfsfdsddddd</p>
        new line<br />
        <strong>bold text </strong><em>italic text</em>

        
        <a href="#top"><img src="../img/arwup.bmp" title="link to top of page"></a><br/><br /><br />
        <!-- anchor  : target, email, nextPage,tooltip -->
        <a name="anchor"><h3>Anchor section</h3></a>
        <a href="css.html">link to css page</a><br />
        <a href = "~~/downloads.html">index page</a><br/>
        <a href="mailto:fu3kff@gmail.com" title="tooltip: opens default email sender and opens it">mail me</a>
        <a href="../img/pahadi.png" download="pahadi.png">
            <img src="../img/favicon.png" alt="img" width="104" height="142"></a><br />
        

        <a href="#top"><img src="../img/arwup.bmp" title="link to top of page"></a><br/><br /><br />
        <!-- Table : width="100% fits data  -->
        <a name="table"><h3>Table section</h3></a>
        <table >
            <tr>
                <th colspan="3">heading</th>
            </tr>
            <tr>
                <th>head1</td>
                <th>head2</td>
                <th>head3</td>
            </tr>
            <tr>
                <td>data11</td>
                <td>data12</td>
                <td>data13</td>
            </tr>
            <tr>
                <td>data21</td>
                <td>data21</td>
                <td>data21</td> 
            </tr>
        </table>


        <a href="#top"><img src="../img/arwup.bmp" title="link to top of page"></a><br/><br /><br />
        <!-- image : -->
        <a name="img"><h3>Image section</h3></a>
        <img src="../img/favicon.png" alt="favicon text describing img">
        <img src="../img/BKG.jpg" height="120" alt="heightrestriction max">
        <a href="#top"><img src="../img/arwup.bmp" title="link to top of page"></a><br />


        <a href="#top"><img src="../img/arwup.bmp" title="link to top of page"></a><br/><br /><br />
        <!-- List : ordered, unordered -->
        <a name="list"><h3>List section</h3></a>
        <ul>
            <li>item1</li>
            <li><img src='../img/favicon.png' height="20"></li>
            <li>item3</li>
        </ul>
        <ol><h4>ordered list</h4>
            <li>item1</li>
            <li><img src='../img/favicon.png' height="20"></li>
            <li>item3</li>
        </ol>

        <a href="#top"><img src="../img/arwup.bmp" title="link to top of page"></a><br/><br /><br />
        <!--form-->
        <a name="form"/><h3>Form Section</h3>
        <form>
            username:<input type="text" name="username" value='enter name' size='10' maxlength="20"/><br />
            password:<input type="password" name="pass" ><br />
            Male:<input type="radio" id="male" name="gender" value="male">
            Female:<input type="radio" id="female" name="gender" value="female">
            other:<input type="radio" id="other" name="gender" value="other"><br />
            
            A:<input type="checkbox" id="opa" value="a"><br />
            B:<input type="checkbox" id="opb"  value="b"><br />
            C:<input type="checkbox" id="opc"  value="c"><br />
            D:<input type="checkbox" id="opd" value="d" ><br />

            <select name="lang">
                <option value="vs1">python</option>
                <option value="vs2">C#</option>
                <option value="vs3">c++</option>
                <option value="vs4">java</option>
            </select>
            <br />
            <textarea name="bio"  cols="30" rows="5">type here</textarea><br />
            <input type="file" name="files"/><br />
            <input type="submit" value="Submit">
        </form>

    </body>
    <br /><a href="#top"><img src="../img/arwup.bmp" title="link to top of page"></a>Top of page
</html>