<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../img/favicon.png" type="image/png">
    <title>Donwload...</title>
    
</head>
<body>
  <a href = "../Techie/dTut/basic.html">basic html page</a><br/>
    <p>Click on the image to download it:<p>
    <p>script1:<p></p>
    <a href="../Download/Ff/script1.lua" download="scritn.lua">
      <img src="../img/faviconn.png" alt="img" width="104" height="142">
    </a>
    <p>unban script:<p></p>
    <a href="../Download/Ff/scriptn.lua" download="scripts.lua">
      <img src="../img/faviconn.png" alt="img" width="104" height="142">
    </a>
    <p>oct:<p></p>
    <a href="http://download2335.mediafire.com/9ubg083zhwkg/nczrafoyr8v9o74/Octopus+NBM.apk" download="octopus.apk">
      <img src="../img/faviconn.png" alt="img" width="104" height="142">
    </a>
    <p>gg:<p></p>
    <a href="http://download900.mediafire.com/tv4s714hnltg/8k0wr0fft0q68rz/GG+NiverBM+Blue.apk" download="ggN.apk">
      <img src="../img/faviconn.png" alt="img" width="104" height="142">
    </a>
        


</body>