{% extends 'base.html' %}

{% block title%}
<title>Add</title>
{% endblock %}

{% block body %}

<form action='add' method="POST">
    {% csrf_token %}
    num1:<input type="text" name="num1" placeholder="num1" value={{num1}}><br/>
    num2:<input type="text" name="num2" placeholder="num2" value={{num2}}><br/>
    <input type="submit">
</form>
    {% if result%}
    <textarea name="res" id="addresult" cols="30" rows="10">
        {{num1}}+{{num2}}={{result}}</textarea><br/>
        
    {%endif%}
{% endblock %}